@import '../variables';

.carousel {
    background-color: white;

    .carousel-title {
        font-size: 26px;
        font-weight: 600;
        display: inline-block;
        margin-left: 50%;
        transform: translateX(-50%);
        border-bottom: 3px solid $primary-color;
        color: $text-color;
        margin-bottom: 30px;
        margin-top: 60px;
        transition: all 300ms linear;

        &:hover {
            cursor: pointer;
            color: $primary-color;
            border-bottom: 3px solid $text-color;
        }
    }

    .carousel-btn-wrapper {
        display: flex;
        align-items: center;

        .carousel-btn {
            height: 40%;
            width: 50%;
            background-color: #f5f5f5;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 19px;
            color: #ccc;
            transition: all 200ms linear;

            &:hover {
                cursor: pointer;
                background-color: $primary-color;
                color: white;
            }
        }
    }

    .product-item {
        background-color: #f5f5f5;
        color: $text-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 12px;
        transition: all 200ms ease-in-out;

        .product-img {
            padding: 18px;
            width: 200px;
            height: 200px;

            img {
                object-position: center;
                object-fit: contain;
            }
        }

        .product-name {
            font-weight: 900;
            margin: 8px 0 18px 0;
            transition: all 200ms ease-in-out;
            text-overflow: ellipsis;
            word-break: break-all;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
        }

        &:hover {
            background-color: beige;

            .product-name {
                color: $primary-color;
            }
        }
    }
}