@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import './header.scss';
@import './footer.scss';

* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;

    a {
        text-decoration: none;
        outline: none;
        color: black;
    }

    select, input {
        outline: none;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

}

body {
    font-family: 'Roboto', sans-serif;
}

// Scroll Bar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
    
    &::before {
        content: "\f006 \f006 \f006 \f006 \f006";
    }

    .stars-inner {
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        overflow: hidden;
        width: 0;

        &::before {
            content: "\f005 \f005 \f005 \f005 \f005";
            color: $primary-color;
        }
    }
}






