@import '../variables';

.footer {
    padding: 100px 0 40px 0;
    background-color: #333;

    .split {
        margin: 100px 0 10px 0;
        border-bottom: 1px solid rgb(100, 100, 100) ;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 30px;

        .info-img {
            width: 160px;
            height: 160px;
            background-color: white;
            border-radius: 50%;
            margin-bottom: 30px;
        }

        .info-text {
            color: white;
            font-size: 15px;
            font-weight: 500;
            line-height: 1.6;
        }
    }

    .item {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 12px;

        .item-list {
            color: white;
            font-size: 15px;
            margin-bottom: 50px;
            
            .item-title {
                font-size: 19px;
                font-weight: 600;
                margin-bottom: 30px;
                color: $primary-color;
            }

            .item-text {
                margin-bottom: 10px;
            }
        }
    }

    .copy-right {
        color: white;
        font-size: 14px;
        font-weight: 500;
    }
}