@import '../variables';

.search-bar {
    background-color: white;
    padding: 50px 0;

    .search-bar__header {
        padding-bottom: 18px;
        border-bottom: 1px solid rgb(220, 220, 220);

        .search-bar__label {
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 26px;
            font-weight: 700;
            color: $text-color;
            text-transform: uppercase;
        }

        .search-bar__input-wrapper {
            display: flex;
            height: 60px;
            align-items: stretch;
            padding-left: 100px;

            .search-bar__input {
                flex-grow: 1;
                padding-left: 30px;
                padding-right: 100px;
                font-size: 20px;
                font-weight: 500;
                color: $text-color;
                border: 1px solid rgb(220, 220, 220);
                border-bottom-left-radius: 6px;
                border-top-left-radius: 6px;

                &:focus {
                    border: 4px solid $primary-color;
                }
            }

            .search-bar__btn {
                width: 100px;
                border: none;
                font-size: 20px;
                background-color: #333;
                color: white;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                transition: background-color 300ms linear;

                &:hover {
                    background-color: $primary-color;
                }
            }
        }
    }

    .search-bar__filter {
        padding: 18px 24px;
        background-color: #f5f5f5;
        display: flex;
        align-items: center;

        .search-bar__filter-label {
            font-size: 16px;
            font-weight: 900;
            margin-right: 50px;
        }

        .search-bar__filter-list {
            flex-grow: 1;
        }

        .search-bar__option {
            height: 100%;
            width: 100%;
            font-size: 16px;
            font-weight: 500;
            color: $text-color;
            border-bottom: 2px solid black;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: all 200ms ease-in-out;

            &:hover {
                cursor: pointer;
                color: $primary-color;
                border-bottom: 2px solid $primary-color;
            }
        }
    }
    
    .search-bar__menu {
        width: 100%;
        border: 1px solid rgb(220, 220, 220);
        border-radius: 0;
        padding: 0;

        .search-bar__menu-item {
            font-size: 15px;
            color: $text-color;
            padding: 12px 18px;
            border-bottom: 1px solid rgb(220, 220, 220);
            transition: all 300ms ease-in-out;

            &:hover {
                cursor: pointer;
                color: $primary-color;
            }
        }
    }

    .has-filtered {
        background-color: #f5f5f5;
        display: flex;
        padding: 8px 24px;

        .has-filtered-item {
            background-color: white;
            display: flex;
            align-items: center;
            padding: 4px 12px;
            margin-right: 32px;
            border-radius: 4px;

            .has-filtered-name {
                color: $text-color;
                font-size: 16px;
                font-weight: 600;
                margin-right: 8px;
            }

            .clear-filtered-item {
                color: #dc3545;
                font-size: 18px;
                padding: 0 4px;

                &:hover {
                    cursor: pointer;
                    color: #333;
                }
            }
        }

        .has-filtered-item-sort {
            background-color: $primary-color;
        }
    }

    .search-bar__sort {
        height: 100%;
        display: flex;
        align-items: center;

        .search-bar__sort-btn {
            font-size: 16px;
            font-weight: 500;
            color: $text-color;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 2px solid black;
            transition: all 200ms ease-in-out;

            &:hover {
                cursor: pointer;
                color: $primary-color;
                border-bottom: 2px solid $primary-color;
            }
        }
    }
}