// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Customer
$text-color: #333;
$primary-color: #f7941d;
// Header
$top-bar--height: 47px;
$search-bar--height: 50px;
$header-bar--height: 64px;