// Nav Bar
._navbar {
    height: 60px;
    background: radial-gradient(circle at 0.8% 1.8%, rgb(255, 104, 107) 0%, rgb(255, 187, 103) 90.1%);

    ._navbar-wrapper {
        height: 100%;

        ._navbar-logo {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        ._navbar-text {
            color: white;
            font-size: 24px;
            font-weight: 600;
        }

        ._navbar-logout {
            color: white;
            font-size: 16px;
            font-weight: 600;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-right: 16px;
        }
    }
} 

.content-wrapper {
    height: 100vh;
    margin-top: 60px;
}

// Side Bar
#sidebar {
    z-index: 10;
    height: 100%;
    overflow-y: auto;
    background: linear-gradient(60deg, #29323c 0%, #485563 100%);

    .nav_title {
        color: rgb(177, 150, 150);
        margin: 16px;
        font-size: 14px;
        font-weight: 700;
    }

    .nav_link {
        border-bottom: 1px solid #455A64;
        color: rgb(214, 210, 210);
        font-size: 14px;
        font-weight: 500;
        padding: 16px 32px;

        &:hover {
            background: #455A64;
            color: white;
            cursor: pointer;
        }

        i {
            margin-right: 16px;
        }
    }
}

