.wrapper {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-135deg,#c850c0,#4158d0);

    .wrapper-container {
        min-height: 100vh;
        display: flex;
        align-items: center;
        width: 960px;
        max-width: 100%;

        .wrapper-row {
           margin: auto;
           flex-grow: 1;
        }
    }
}

.login-wrapper {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 120px 140px 120px 100px;
}

.login-img {
    max-height:100%; 
    max-width:100%;
    transition: transform 1000ms ease-in-out;

    &:hover {
        transform: scale(1.2);
    }
}

.login-form {

    .login-form-title {
        font-size: 24px;
        font-weight: 600;
        color: #333;
        line-height: 1.2;
        text-align: center;
        width: 100%;
        display: block;
        padding-bottom: 42px;
    }

    .form__input-wrapper {
        position: relative;
        width: 100%;
        z-index: 1;
        margin-top: 14px;

        .form__input {
            font-size: 15px;
            line-height: 1.5;
            color: #666;
            display: block;
            width: 100%;
            background: #e6e6e6;
            height: 50px;
            border-radius: 25px;
            padding: 0 30px 0 68px;
            outline: none;
            border: none;

            &:focus {
                box-shadow: rgba(87,184,70,.8) 0px 2px 8px;
            }
        }

        .form__input-icon {
            font-size: 15px;
            display: flex;
            align-items: center;
            position: absolute;
            border-radius: 25px;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding-left: 35px;
            pointer-events: none;
            color: #666;
        }
    }

    .form__btn {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.5;
        color: #fff;
        text-transform: uppercase;
        width: 100%;
        height: 50px;
        border-radius: 25px;
        background: #57b846;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        outline: none;
        border: none;

        &:hover {
            background: #333;
        }
    }

    .form__helper {
        display: flex;
        justify-content: space-around;
        margin-top: 16px;
        margin-bottom: 24px;

        .form__input_remember-me {
            cursor: pointer;
        }
    
        .form__label_remember-me {
            font-size: 14px;
            color: #333;
            margin-left: 4px;
            cursor: pointer;
            
            &:hover {
                opacity: 0.6;
            }
        }

        .form__forget-password {
            text-decoration: none;
            color: #333;

            &:hover {
                opacity: 0.6;
            }
        }
    }
}