@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import '../variables';

.login {
    background-color: #ac7634cb;
    padding: 32px 0;
    min-height: 600px;

    .login-logo {
        padding-right: 50px;

        .login-slogan {
            text-align: center;
            font-size: 32px;
            font-weight: 900;
            font-family: 'Dancing Script', cursive;
        }
    }

    .login-form {
        padding-left: 70px;
    }

    .form-wrapper {
        background-color: white;
        padding: 32px 40px 70px 40px;
        border-radius: 12px;

        .form-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24px;

            .form-header-main {
                font-size: 24px;
                font-weight: 500;
            }

            .form-header-sub {
                font-size: 16px;
                color: #dc3545;

                &:hover {
                    cursor: pointer;
                    opacity: 0.5;
                }
            }
        }

        .form-main {
            display: flex;
            flex-direction: column;

            .form-input {
                border: 1px solid rgba(0,0,0,.14);
                border-radius: 2px;
                box-shadow: inset 0 2px 0 rgb(0 0 0 / 2%);
                padding: 8px 18px;
                font-size: 18px;
                margin-top: 32px;

                &:focus {
                    border: 1px solid black;
                }

                &.form-input-info {
                    font-size: 16px;
                    margin-top: 14px;
                }
            }

            .form-input-split {
                border-bottom: 1px solid rgba(0,0,0,0.1);
                margin: 18px 0;
            }
        }

        .form-submit {
            margin-top: 32px;
            padding-bottom: 18px;
            border-bottom: 1px solid rgba(0,0,0,0.1);

            .form-submit-btn {
                width: 100%;
                font-size: 18px;
                padding: 10px 0;
                background-color: $primary-color;
                color: white;
                border: none;
                transition: all 200ms linear;

                &:hover {
                    color: $primary-color;
                    background-color: #333;
                }
            }

            .form-helper {
                display: flex;
                justify-content: space-between;
                margin-top: 4px;

                .form-helper-label {
                    font-size: 14px;
                    padding: 4px 0;
                    color: #777;

                    &:hover {
                        cursor: pointer;
                        color: black;
                    }
                }

                .form-helper-input {
                    transform: scale(1.14);
                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .form-submit-text {
                text-align: center;
                font-size: 12px;
                margin-top: 12px;
                opacity: 0.8;
            }
        }

        .form-social {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 24px;

            .form-social-btn {
                display: flex;
                align-items: center;
                border: 1px solid rgba(0,0,0,.26);
                border-radius: 2px;
                font-size: 18px;
                font-weight: 500;
                padding: 6px 16px;
                transition: background-color 200ms linear;

                .form-social-text {
                    margin-left: 6px;
                }

                &.form-facebook {
                    color: #0165E1;
                }
                &.form-google {
                    .form-google-icon {
                        background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
                        -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;
                        -webkit-text-fill-color: transparent;
                    }
                    color: green;
                }

                &:hover {
                    cursor: pointer;
                    background-color: rgba(0,0,0,.14);
                }
            }
        }
    }
}