@media print {
    body {
        * {
            display: none !important;
        }
    }

    .content-wrapper {
        margin: 0;
        display: block !important;

        * {
            display: none !important;
        }

        & > .col-10 {
            display: block !important;
            background-color: white;
            width: 100%;
        }
    }

    .page-wrapper {
        display: block !important;
        padding: 0;
    
        .page__content-wrapper {
            padding: 0 !important;
            border-radius: 0 !important;
            margin: 0 !important;
            box-shadow: none !important;
            display: block !important;            
    
            .invoice-wrapper {
                width: 100%;
                margin: 0;
                padding: 0;
                box-shadow: none;
                display: block !important;

                * {
                    display: block !important;
                }

                .d-flex {
                    display: flex !important;
                }

                span {
                    display: inline-block !important;
                }

                table {
                    display: table !important;
                    thead {
                        display: table-header-group !important;
                    }
                    tbody {
                        display: table-row-group !important;
                    }
                    tr {
                        display: table-row !important;
                    }
                    th {
                        display: table-cell !important;
                    }
                    td {
                        display: table-cell !important;
                    }
                }

                .product__image-wrapper {
                    border: none;
                }
            }
        }
    }
}
    

.invoice-wrapper {
    width: 80%;
    margin: auto;
    padding: 30px 60px 60px 60px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.invoice-name {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #333;
    margin: 18px 0 32px 0;
}

.invoice-header {
    font-size: 12px;

    .invoice-brand {
        color: rgb(123, 100, 100);
        font-weight: 600;
    }
}

.invoice-title {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 3px;
}

.invoice-content {
    font-size: 16px;
    font-weight: 400;
    margin-left: 6px;
}

.invoice-split {
    margin: 40px 0;
    border: 1px solid rgb(200, 200, 200);
}

.form-import-invoice {
    margin-bottom: 18px;

    .form-wrapper {
        padding: 12px 0 40px 0;
        border-bottom: 1px solid rgb(200, 200, 200);

        .form-input-price {
            display: none;
            margin-top: 18px;
        }
    }
}